.details-container {
  display: flex;
  gap: 40px;
  padding: 30px;
}

.image-section {
  flex: 1;
  position: sticky;
  top: 100px; /* keeps image fixed */
  height: fit-content;
}

.main-img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  object-fit: contain;
}

.info-section {
  flex: 2;
  overflow-y: auto;
  padding-right: 20px;
}

.product-title {
  font-size: 28px;
  font-weight: bold;
}

.price {
  font-size: 24px;
  color: #e53935;
  margin: 15px 0;
}

.original {
  text-decoration: line-through;
  color: gray;
  margin-left: 10px;
}

.description {
  margin: 20px 0;
  line-height: 1.6;
}

.action-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.add-to-cart {
  background: linear-gradient(90deg, #1d4ed8, #8c8d8f);
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  color:#fff;
  transition: 0.3s;
}

.add-to-cart:hover {
  background: linear-gradient(90deg, #9a4, #8c8d8f);
  color: black;
}

.buy-now {
  background: linear-gradient(90deg, #153eaa, #8c8d8f);
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
}

.buy-now:hover {
   background: linear-gradient(90deg, #9a4, #8c8d8f);
   color: black;
}

.loading {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}
.offers {
  background: #f3f3f3;
  padding: 15px;
  border-radius: 8px;
  margin: 20px 0;
}

.offers h4 {
  margin-bottom: 10px;
  color: #b12704;
}

.offers ul {
  margin: 0;
  padding-left: 20px;
}

.offers li {
  margin: 5px 0;
}
